/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --text-color: #f1b2ce;
  --sub-color: #000028;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --bg-color: #000028;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --decor-display: block;
  --padding-pg: 10px;
}

@media (min-width: 768px) {
  :root {
    --padding-pg: 20px;
  }

  h1.header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
